extends ../base

block body
    h3 영상 제목 수정하기
    form(method="post" action="")
        input(name="title" type="text" placeholder="New Title", value=video.title, required)
        input(value="Save", type="submit")
        