extends ../base

block body 
    form(action="", method="post") 
        input(name="title" type="text", placeholder="Title", required)
        input(type="submit", value="Upload", required)
    
    