extends ../base
block styles 
    style(type="text/css").
        .header__upload  {
            color: #0056b8;
            font-weight: 800;
        }
block body
    form(id="upload" action="", method="post", enctype="multipart/form-data").edit__form
        h3 동영상 업로드
        label(for="video") 동영상 선택
        input(type="file", accept="video/*", id="video", name="video", required) 
        label(for="thumb") 썸네일 선택
        input(type="file", accept="image/*", id="thumb", name="thumb", required) 
        hr
        input(name="title" type="text", placeholder="비디오 제목", required)
        input(name="description" type="text", placeholder="비디오 설명", minLength=5, required)
        input(name="hashtags" type="text", placeholder="해시태그", required)
        select(name="category")
            option(value="Sel1") Sel1 
            option(value="Sel2") Sel2
            option(value="Sel3") Sel3 
            option(value="Sel4") Sel4
        input(type="submit", value="업로드하기", required)   
    
    