.social-login {
  .github__btn {
    background-color: black;
    border: black;
    i {
      margin-right: 3px;
    }
  }
  .kakao__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fee500;
    background-color: #fee500;
    color: #191919;
    .social__kakao-icon {
      color: #000000;
    }
    img {
      margin-right: 3px;
    }
  }
  .naver__btn {
    background-color: #03c75a;
    color: white;
  }
}
