.social-login {
  .github__btn {
    background-color: black;
    border: black;
  }
  .kakao__btn {
    border: #fee500;
    background-color: #fee500;
    color: #191919;
    .social__kakao-icon {
      color: #000000;
    }
  }
}
