doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | C-Tube
        //- Used CSS
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            nav 
                ul
                    li
                        a(href="/") Home
                    li
                        if fakeUser.isLogin
                            a(href="/logout") Logout
                        else
                            a(href="/login") Login 
            h1=pageTitle
        main
            block body
    //- Included Footer
    include partials/footer  