div.social-login
    hr
    a(href="/users/github/login").social__btn.github__btn
        i.fab.fa-github
        |  깃허브로 시작하기
    a(href="/users/kakao/login").social__btn.kakao__btn
        img(src="/images/kakao_logo.png", width="18", height="12" alt="")
        |  카카오로 시작하기