.description__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
  margin-bottom: 10px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .hashtag {
    display: flex;
    justify-content: center;
    color: $wisely;
    font-weight: 600;
    margin-top: 10px;
  }
  .description__info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
  }
}
.publisher__Container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .publisher__info {
    display: flex;
    img {
      border-radius: 50px;
      margin-bottom: 10px;
      margin-right: 10px;
    }
    a {
      display: flex;
      align-items: center;
      color: black;
      font-size: 18px;
      font-weight: 600;
      &:hover {
        color: $wisely;
        font-weight: 800;
        opacity: 0.8;
      }
    }
  }
  .publihser__edit {
    display: flex;
    justify-content: flex-end;
    a {
      background-color: #095ed4;
      color: white;
      padding: 10px 20px;
      margin: 0px 5px;
    }
  }
}
.comment_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
  }
}
.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  margin-bottom: 20px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: none;
    .form__textarea {
      display: flex;
      justify-content: center;
      textarea {
        width: 80%;
        height: 50px;
        font-size: 12px;
        resize: none;
        border: 1px solid rgba($color: $wisely, $alpha: 0.3);
        border-radius: 12px;
        box-shadow: 0 0 16px #00000014;
        padding: 5px;
        margin-right: 5px;
        &::placeholder {
          color: grey;
          font-size: 12px;
        }
      }
      button {
        background-color: #095ed4;
        color: white;
        padding: 10px 20px;
        margin: 0px 5px;
        border: none;
        border-radius: 12px;
        box-shadow: 0 0 16px #00000014;
        cursor: pointer;
      }
    }
  }
}
.comment__shows {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;

  .comment__info {
    display: flex;
    align-items: center;
    img {
      border-radius: 50px;
      margin-bottom: 5px;
      margin-right: 10px;
    }
    a {
      display: flex;
      font-size: 15px;
      font-weight: 600;
      &:hover {
        color: $wisely;
        font-weight: 800;
        opacity: 0.8;
      }
    }
  }
  .comment__text {
    display: flex;
    small {
      color: grey;
      font-size: 12px;
      margin-right: 10px;
    }
  }
  hr {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .comment__del {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    a {
      color: grey;
      font-size: 12px;
      margin-right: 10px;
    }
  }
}
.blues {
  color: $wisely;
}
