extends ../base

block body  
    form(action="", method="POST")
        input(name="email" type="text", placeholder="이메일", required) 
        input(name="password" type="password", placeholder="비밀번호 (6자 이상)", required) 
        input(type="submit" value="이메일로 시작하기")
        br
        div.account__div
            span 계정이 없으신가요?
            span.account__text   
                a(href="/join") 이메일로 가입하기 &rarr;
        include ../partials/social-login
    